
//
$ancho: 20%;
$alto: 10%;
$hyper: 1px underline black;
/*Presets*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
  }

  h1 {
    padding: 3%;
    text-align: center;
  }
  
  p {
    text-align: center;
    font-size: medium;
  }
  
  body {
    
    background-color: gray;
  }



@mixin botones($ancho, $alto){
    width: $ancho;
    height: $alto;

}


.boton1{
    @include botones($ancho,$alto);
    background-color: orangered;
        &:hover{
            border: 1px inset #000;
        }
}

.boton2{
    @extend .boton1;
    background-color: blue;

}

.boton3{
    @extend .boton1;
    background-color: #fff;
}





