/* Error: Only 0 arguments allowed, but 3 were passed.
 *     ,
 * 28  |   @mixin botonera {
 *     |          ======== declaration
 * ... |
 * 37  |     @include botonera($ancho, $alto, $hyper);
 *     |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   scss\_presets.scss 37:5   botonera()
 *   scss\_presets.scss 37:5   @import
 *   scss\copilation.scss 2:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 0 arguments allowed, but 3 were passed.\a     \2577 \a 28  \2502    @mixin botonera {\d\a     \2502           \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 37  \2502      @include botonera($ancho, $alto, $hyper);\d\a     \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   scss\\_presets.scss 37:5   botonera()\a   scss\\_presets.scss 37:5   @import\a   scss\\copilation.scss 2:9  root stylesheet";
}
